.arrow-right{
	border-radius: 90px !important;
}
.arrow-right:hover {
	box-shadow: 2px 2px 1px 2px #0003;
}

.arrow-left {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	border-radius: 90px !important;
}

.arrow-left:hover{
	box-shadow: 1px 1px 1px 2px #0003;
}