.arrow-right{
	border-radius: 90px !important;
}
.arrow-right:hover {
	box-shadow: 2px 2px 1px 2px #0003;
}

.arrow-left {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	border-radius: 90px !important;
}

.arrow-left:hover{
	box-shadow: 1px 1px 1px 2px #0003;
}

.champ-box {
	//background: #ffe0e5;
	border-radius: 8px;
}

.champ-box:hover {
  animation-name: bounce;
}

.champ-stats{
	font-size: 90%;
}

.header-border {
	border-top: 2px solid #f3f1ee;
	border-bottom: 2px solid #f3f1ee;
}

.section-header {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 576px) {
	.section-header {
		font-size: 3.0rem;
		font-weight: 300;
		line-height: 1.2;
	}
}

@media (min-width: 768px) {
	.section-header {
		font-size: 3.5rem;
		font-weight: 300;
		line-height: 1.2;
	}
}

.champ-card{
  width: 100%;
  padding: 2.5rem !important;
}

@media (min-width: 576px) {
  .champ-card{
    width: 33.33333333%;
    padding: 1rem !important;
  }
}

@media (min-width: 768px) {
  .champ-card{
    width: 33.333333333%;
    padding: 2rem !important;
  }
}
