<app-header *ngIf="this.game.MetaMaskError == 0"></app-header>
<app-nw3header *ngIf="this.game.MetaMaskError != 0"></app-nw3header>
<div class="container-fluid text-center bg-pattern bg-grey p-5">
   <div class="row">
      <div class="col col-md-6 offset-md-3">
         <h1 class="h1 color-dark textshadow-light">FAQs</h1>
      </div>
   </div>
</div>
<div class="container mt-5">
   <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2 class="h2 mb-4 color-dark">About MyCryptoChamp</h2>
      <ngb-accordion #acc="ngbAccordion">
         <ngb-panel title="What is MyCryptoChamp?">
            <ng-template ngbPanelContent>
               <ul>
                  <li>App based on Ethereum blockchain technology.</li>
                  <li>Game about upgrading your champs by fighting, getting better items and trading them. The best 800 champs are daily rewarded by Ether.</li>
               </ul>
            </ng-template>
         </ngb-panel>
      </ngb-accordion>
   </div>
</div>
<app-ifaq></app-ifaq>
<app-footer *ngIf="this.game.MetaMaskError == 0"></app-footer>
<app-nw3footer *ngIf="this.game.MetaMaskError != 0"></app-nw3footer>

