.gamenav{
     z-index: 1500;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-left: 0px;
     padding-right: 0px;
     letter-spacing: 1.6px;
     color: var(--primary-color);
     height: auto;
     //box-shadow: #ccc 0px 1px 10px 1px;
}
 .pending-amount{
     color: var(--secondary-color);
     cursor: pointer;
}
 .pending-amount:hover{
     text-decoration: none;
     color: var(--secondary-color);
}
 .pending-amount:focus{
     color: var(--secondary-color);
}
 a{
     transition: all .15s;
     color: var(--primary-color);
}
 a:hover{
     text-decoration: none;
     color: var(--secondary-color);
}
 a:focus{
     color: var(--secondary-color);
}
 .navbar-brand {
    letter-spacing: 1.3px;
    color: #f5f5f5;
    font-size: 95%;
}
 .nav-pending {
     text-align: center;
}
 .text-leaderboard {
     text-align: center;
}
 .text-market {
     text-align: center;
}
/* Smaller devices (mobiles, 576px and up) */
 @media (min-width: 576px) {
     body{
         font-size: 100%;
    }
     .nav-brand {
         text-align: center;
    }
     .nav-pending {
         text-align: center;
    }
     .gamenav{
         height: auto;
    }
}
/* Small devices (tablets, 768px and up) */
 @media (min-width: 768px) {
     body{
         font-size: 95%;
    }
     .nav-brand {
         text-align: left;
    }
     .nav-pending {
         text-align: right;
    }
     .gamenav{
         height: 90px;
    }
     .text-leaderboard {
         text-align: right;
         font-size: 110%;
    }
     .text-market {
         text-align: left;
         font-size: 110%;
    }
}
/* Medium devices (desktops, 992px and up) */
 @media (min-width: 992px) {
     body{
         font-size: 100%;
    }
     .gamenav{
         padding-left: 20px;
         padding-right: 20px;
    }
}
/* Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
}
.navbar{
    font-size: 110%;
}

.logo-rounded{
    border-radius: 35px;
}