<app-metamask *ngIf="(this.game.MetaMaskError == 1 || this.game.MetaMaskError == 2 || this.game.MetaMaskError == 3 || this.game.MetaMaskError == 4);else content"></app-metamask>
<ng-template #content>
   <app-header></app-header>

   <div class="container-fluid mt-5">
      <div class="row text-center">
         <div class="col-12">
            <p class="text-secondary fontsize-sm font-thin">In order to create a better item, you can forge two items together.</p>
             <p><a class="link-secondary fontsize-sm font-thin" (click)="howDoesForgeWork = !howDoesForgeWork">How does it work?</a></p>
         </div>
      </div>
   </div>
   <div class="container" [hidden]="howDoesForgeWork">
      <div class="row align-cai-center-custom">

            <div class="cai-card">
               <div class="row pb-2">
                  <div class="col-12">
                     <div class="color-dark">
                        <span class="text-capitalize">Common Sword</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="cai-box my-2 animated background-color-2">
                     <img src="../../assets/img/items-sm/swords/common/sword1.png" class="img-fluid p-5">
                  </div>
               </div>
               <div class="row mt-3 cai-stats">
                  <div class="col-12 color-dark">
                     <div class="row text-center">
                        <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>15</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>2</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>4m</span></div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="cai-card">
               <div class="row pb-2">
                  <div class="col-12">
                     <div class="color-dark">
                        <span class="text-capitalize">Common Helmet</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="cai-box my-2 animated background-color-5">
                     <img src="../../assets/img/items-sm/helmets/common/helmet1.png" class="img-fluid p-5">
                  </div>
               </div>
               <div class="row mt-3 cai-stats">
                  <div class="col-12 color-dark">
                     <div class="row text-center">
                        <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>2</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>12</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>8m</span></div>
                     </div>
                  </div>
               </div>
            </div>
            
            <p class="w-lg-100 vertical-centering text-center text-secondary">
               <span class="h1">=</span>
            </p>

            <div class="cai-card center-cai">
               <div class="row pb-2">
                  <div class="col-12">
                     <div class="color-dark">
                        <span class="text-capitalize">Forged Sword</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="cai-box my-2 animated background-color-2">
                     <img src="../../assets/img/items-sm/swords/forged/sword1.png" class="img-fluid p-5">
                  </div>
               </div>
               <div class="row mt-3 cai-stats">
                  <div class="col-12 color-dark">
                     <div class="row text-center">
                        <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>15</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>12</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>8m</span></div>
                     </div>
                  </div>
               </div>
            </div>




      </div>
   </div>

   <div *ngIf="(!this.loading);  else loadingTemplate;">
      <div class="container-fluid mt-5" *ngIf="myItems.length > 1">
         <div class="row header-border p-3">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-12">
                     <h3 class="color-primary h3-responsive p-2">SELECT TWO ITEMS</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid mt-5" *ngIf="myItems.length < 2">
         <div class="row header-border p-3">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-12">
                     <h3 class="color-primary h3-responsive p-2">FORGE ITEMS</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container mt-5" *ngIf="myItems.length < 2">

               <div class="row">
                  <div class="offset-sm-3 col-sm-6 col-12 text-secondary text-center">
                     <h3 class="h3-responsive">You need to have at least 2 items</h3>
                     <p class="lead mt-2">How about get one right now?</p>
                  </div>
               </div>
               <div class="row align-cai-center">

                  <div class="cai-card fadeIn text-center">
                     <div class="row ">
                        <div class="col-12">
                           <span class="color-dark">Loot Box</span>
                           <p class="text-muted">
                              Ξ 0.005
                           </p>
                        </div>
                     </div>
                     <div class="row">
                        <a class="col-12 offset-0 offset-sm-0 col-sm-12 cai-box animated background-color-1" routerLink="/forge" (click)="openLootbox()">
                           <div class="row p-5">
                              <img src="../../assets/img/lootbox-sm.png" class="img-responsive">
                              </div>
                        </a>
                     </div>
                  </div>

               </div>

      </div>
      <div class="container" *ngIf="myItems.length > 1">
         <div class="row">
            <div *ngFor="let item of myItems | orderBy: 'id'" class="cai-card">
               <div class="row pb-2">
                  <div class="col-12">
                     <div class="color-dark">
                        <p class="text-capitalize">{{item.rank + " " + item.type}}</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <a routerLink="/forge" (click)="clickItem(item.id)">
                     <div class="{{(parentItem == item.id) ? 'border border-success' : null}} cai-box {{(childItem == item.id) ? 'border border-warning' : null}} animated {{this.game.getBackgroundColor(item.id)}}">
                        <img src="../../assets/img/items-sm/{{this.game.getItemImg(item.id, item.type, item.rank)}}" class="img-fluid p-5">
                     </div>
                  </a>
               </div>
               <div class="row mt-3 cai-stats">
                  <div class="col-12 color-dark">
                     <div class="row text-center">
                        <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>{{ item.attackPower }}</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>{{ item.defencePower }}</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>{{ item.cooldownReduction / 60 | number:'1.0-0' }}m</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid mt-5 bg-grey">
         <div class="row header-border">
            <div class="container">
               <div  *ngIf="(parentItem != childItem && parentItem !=0 && childItem != 0 && childItem != undefined  && parentItem != undefined)" class="cai-card cai-box mx-auto">
                  <div class="row pb-2">
                     <div class="col-12">
                        <div class="color-dark">
                           <span class="text-capitalize">Forged</span> <span class="text-capitalize">{{FIgetType()}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="cai-box my-2 {{this.game.getBackgroundColor(parentItem)}}">
                        <img src="../../assets/img/items-sm/{{this.game.getItemImg(parentItem, FIgetType(), 'forged')}}" class="img-fluid p-5">
                     </div>
                  </div>
                  <div class="row mt-3 cai-stats">
                     <div class="col-12 color-dark">
                        <div class="row text-center">
                           <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>{{ FIgetAttackPower() }}</span></div>
                           <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>{{ FIgetDefencePower() }}</span></div>
                           <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>{{ FIgetCooldownReduction() / 60 | number:'1.0-0' }}m</span></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row align-items-center  py-3">
                  <div class="col-12 text-center">
                     <button type="button" *ngIf="(parentItem != childItem && parentItem !=0 && childItem != 0 && childItem != undefined  && parentItem != undefined)" class="col-12 col-sm-8 offset-sm-4 c-btn c-btn-lg c-btn-primary m-1" routerLink="/forge" (click)="forge(parentItem, childItem)">
                     <fa name="cog"></fa>
                     FORGE</button>
                     <button type="button" *ngIf="!(parentItem != childItem && parentItem !=0 && childItem != 0 && childItem != undefined  && parentItem != undefined)" class="col-12 col-sm-8 offset-sm-4 c-btn c-btn-lg c-btn-disabled m-1" routerLink="/forge" disabled>
                        <fa name="cog"></fa>
                        FORGE
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <ng-template #loadingTemplate>
      <div class="loading"></div>
   </ng-template>
   <app-footer></app-footer>
</ng-template>

