<app-metamask *ngIf="(this.game.MetaMaskError == 1 || this.game.MetaMaskError == 2 || this.game.MetaMaskError == 3 || this.game.MetaMaskError == 4);else content"></app-metamask>
<ng-template #content>
   <app-header></app-header>
   <div *ngIf="(!this.loading);  else loadingTemplate;">
      <div class="container-fluid mt-5">
         <div class="row header-border p-3">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-12">
                     <h3 class="color-primary h3 p-2">SELECT FIRST ITEM</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container" *ngIf="myItems.length < 2">
         <div class="row">
            <div class="col-12 mt-5 ml-2 text-secondary">
               <div class="row">
                  <div class="offset-sm-3 col-sm-5 col-12 text-secondary text-center">
                     <h3 class="h3-responsive">You need have at least 2 items</h3>
                     <p class="lead mt-2">Visit market or try your luck and open a loot box for Ξ 0.005.</p>
                     <p class="lead"> <a routerLink="/market/swords" class="color-primary">Market</a> <a routerLink="/forge" class="color-primary ml-3" (click)="openLootbox()">Open a Loot box</a> </p>
                  </div>
                  <div class="col-sm-1 vertical-centering hidden-sm-down"><img src="../../assets/img/empty.png" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="container" *ngIf="myItems.length > 1">
         <div class="row">
            <div *ngFor="let item of myItems | orderBy: 'id'" class="cai-card">
               <div class="row pb-2">
                  <div class="col-12">
                     <div class="color-dark">
                        <span class="text-capitalize">{{item.rank}}</span> <span class="text-capitalize">{{item.type}}</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <a routerLink="/forge" (click)="parentItem=item.id">
                     <div class="{{(parentItem == item.id) ? 'border border-success' : null}} item-box my-2 animated {{this.game.getBackgroundColor(item.id)}}">
                        <img src="../../assets/img/items/{{this.game.getItemImg(item.id, item.type, item.rank)}}" class="img-fluid p-5">
                     </div>
                  </a>
               </div>
               <div class="row mt-3 cai-stats">
                  <div class="col-12 color-dark">
                     <div class="row text-center">
                        <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>{{ item.attackPower }}</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>{{ item.defencePower }}</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>{{ item.cooldownReduction / 60 | number:'1.0-0' }}m</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid mt-5" *ngIf="myItems.length > 1">
         <div class="row header-border p-3">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-12">
                     <h3 class="color-primary h3 p-2">SELECT SECOND ITEM</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container" *ngIf="myItems.length > 1">
         <div class="row">
            <div *ngFor="let item of myItems | orderBy: 'id'" class="cai-card item-box">
               <div class="row pb-2">
                  <div class="col-12">
                     <div class="color-dark">
                        <span class="text-capitalize">{{item.rank}}</span> <span class="text-capitalize">{{item.type}}</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <a routerLink="/forge" (click)="childItem=item.id">
                     <div class="{{(childItem == item.id) ? 'border border-success' : null}} item-box my-2 animated {{this.game.getBackgroundColor(item.id)}}">
                        <img src="../../assets/img/items/{{this.game.getItemImg(item.id, item.type, item.rank)}}" class="img-fluid p-5">
                     </div>
                  </a>
               </div>
               <div class="row mt-3 cai-stats">
                  <div class="col-12 color-dark">
                     <div class="row text-center">
                        <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>{{ item.attackPower }}</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>{{ item.defencePower }}</span></div>
                        <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>{{ item.cooldownReduction / 60 | number:'1.0-0' }}m</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid mt-5 bg-grey">
         <div class="row header-border">
            <div class="container">
               <div  *ngIf="(parentItem != childItem && parentItem !=0 && childItem != 0 && childItem != undefined  && parentItem != undefined)" class="cai-card item-box mx-auto">
                  <div class="row pb-2">
                     <div class="col-12">
                        <div class="color-dark">
                           <span class="text-capitalize">Forged</span> <span class="text-capitalize">{{FIgetType()}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="item-box my-2 {{this.game.getBackgroundColor(parentItem)}}">
                        <img src="../../assets/img/items/{{this.game.getItemImg(parentItem, FIgetType(), 'forged')}}" class="img-fluid p-5">
                     </div>
                  </div>
                  <div class="row mt-3 cai-stats">
                     <div class="col-12 color-dark">
                        <div class="row text-center">
                           <div class="col-4 px-1"><img src="../../assets/img/icons/sword-small.png" alt="Attack power" title="Attack power" height="17" width="17" class="mb-1"><br><span>{{ FIgetAttackPower() }}</span></div>
                           <div class="col-4 px-1"><img src="../../assets/img/icons/shield-small.png" alt="Defence power" title="Defence power" height="17" width="17" class="mb-1"><br><span>{{ FIgetDefencePower() }}</span></div>
                           <div class="col-4 px-1"><img src="../../assets/img/icons/plus-small.png" alt="Cooldown Reduction" title="Cooldown Reduction" height="17" width="17" class="mb-1"><br><span>{{ FIgetCooldownReduction() / 60 | number:'1.0-0' }}m</span></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row align-items-center  py-3">
                  <div class="col-12 text-center">
                     <button type="button" *ngIf="(parentItem != childItem && parentItem !=0 && childItem != 0 && childItem != undefined  && parentItem != undefined)" class="col-12 col-sm-8 offset-sm-4 c-btn c-btn-lg c-btn-primary m-1" routerLink="/forge" (click)="forge(parentItem, childItem)">
                     <fa name="cog"></fa>
                     FORGE</button>
                     <button type="button" *ngIf="!(parentItem != childItem && parentItem !=0 && childItem != 0 && childItem != undefined  && parentItem != undefined)" class="col-12 col-sm-8 offset-sm-4 c-btn c-btn-lg c-btn-disabled m-1" routerLink="/forge" disabled>
                        <fa name="cog"></fa>
                        FORGE
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <ng-template #loadingTemplate>
      <div class="loading"></div>
   </ng-template>
   <app-footer></app-footer>
</ng-template>

