.item-box {
	border-radius: 8px;
	//background-color: #f6f6f6;
}

.item-box:hover {
  animation-name: bounce;
}

.champ-stats{
	font-size: 90%;
}

.market-items {
	background: var(--primary-color);
	color: white;
}

.market-filters {
	background: var(--primary-color);
	color: white;
}

.box-border {
	border: 1px solid #B0B0B0;
}

.champ-box {
	//background: #ffe0e5;
	border-radius: 8px;
}

.champ-box:hover {
  animation-name: bounce;
}

.header-border {
	border-top: 2px solid #f3f1ee;
	border-bottom: 2px solid #f3f1ee;
}

.section-header {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 576px) {
	.section-header {
		font-size: 3.0rem;
		font-weight: 300;
		line-height: 1.2;
	}
}

@media (min-width: 768px) {
	.section-header {
		font-size: 3.5rem;
		font-weight: 300;
		line-height: 1.2;
	}
}

.form-group {
	margin-bottom: 0 !important;
}

.pagination-center {
	display: flex;
	align-items: center;
	justify-content: center;
}