.bg-item {
    background: #a2c2eb;
}

.item-options-btn {
    //background: white;
    border-width: 1px;
}

.options {
    background: #a2c2eb;
}


/* Smaller devices (mobiles, 576px and up) */

@media (min-width: 576px) {
    .item-options-btn {
        //margin-left: .5rem !important;
        //margin-right: .5rem !important;
    }
    .options {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
 
 .stats{
    background: white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 1px 2px #0003;
    font-size: 90%;
}

.price-tag{
    background: white;
    padding: 10px;
    border-radius: 30px;
}
