.fontsize-xl{
  font-size: 3.3rem !important;
}

.fontsize-lg{
  font-size: 2rem !important;
}

.fontsize-md{
  font-size: 1.38rem !important;
}

.fontsize-sm{
  font-size: 1.27rem !important;
}

.h3-responsive{
  font-size: 1.75rem;
}

.h2-responsive {
  font-size: 2rem;
}

@media (max-width: 575px)
{
  .fontsize-xl{
    font-size: 2.6rem !important;
  }

  .fontsize-lg{
    font-size: 1.8rem !important;
  }

  .fontsize-md{
    font-size: 1.20rem !important;
  }

  .fontsize-sm{
    font-size: 1.11rem !important;
  }

  .h3-responsive{
    font-size: 1.43rem;
  }

  .h2-responsive {
    font-size: 1.6rem;
  }
}

.font-thin{
  font-weight: 300;
}