<app-nw3header></app-nw3header>
<div class="container mt-5 text-center" *ngIf="this.game.MetaMaskError == 1">
   <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
         <h2 class="h2 color-primary">Please connect to the Main Ethereum network</h2>
      </div>
   </div>
   <div class="row mt-2">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
         <p class="lead">Simply open MetaMask and in left top corner choose Main Ethereum network</p>
         <div class="offset-2 col-8 mt-4">
            <img src="../assets/img/metamask/metamask-main-ethereum-network.png" class="img-fluid" alt="MetaMask Main Ethereum Network" title="MetaMask Main Ethereum Network">
         </div>
      </div>
   </div>
</div>
<div class="container mt-5 text-center" *ngIf="this.game.MetaMaskError == 2">
   <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
         <h2 class="h2 color-primary">MetaMask plugin needed</h2>
      </div>
   </div>
   <div class="row mt-2">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
         <p class="lead">Please download MetaMask plugin for Chrome, Firefox or Opera to continue</p>
         <div class="offset-1 col-9 mt-5">
            <a href="https://metamask.io/" target="_blank">
            <img src="../assets/img/metamask/download-metamask.png" class="img-fluid" alt="Download MetaMask plugin" title="Download Metamask plugin">
            </a>
         </div>
      </div>
   </div>
</div>
<div class="container mt-5 text-center" *ngIf="this.game.MetaMaskError == 3">
   <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
         <h2 class="h2 color-primary">MetaMask error</h2>
      </div>
   </div>
   <div class="row mt-2">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
         <p class="lead">There was an error fetching your accounts</p>
      </div>
   </div>
</div>
<div class="container mt-5 text-center" *ngIf="this.game.MetaMaskError == 4">
   <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
         <h2 class="h2 color-primary">Your MetaMask is locked</h2>
      </div>
   </div>
   <div class="row mt-2">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
         <p class="lead">Simply open MetaMask and follow the instructions to unlock it</p>
         <div class="offset-4 col-4 mt-4">
            <img src="../assets/img/metamask/account-locked.png" class="img-fluid lock" alt="MetaMask is locked" title="Metamask is locked">
         </div>
      </div>
   </div>
</div>
<app-ifaq></app-ifaq>
<app-nw3footer></app-nw3footer>

