.bg-gradient{
 background: rgb(252,70,107);
 background: linear-gradient(180deg, rgba(252,70,107,1) 2%, rgba(252,176,69,1) 48%, rgba(0,0,0,1) 98%); 
}

.border-radius{
	border-radius: .8rem;
}

.text-opacity{
	color: #fffc !important;
}

.header-text{
  color: #fbeeff !important;
}

.box-shadow{
  box-shadow: 0 2px 2px 1px #cccc;
}