<footer class="container-fluid mt-5 pb-5">
<hr>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4 col-sm-3 footer-col-1">
                <p><a routerLink="/tech" class="text-secondary">Tech details</a></p>
                <p><a routerLink="/faq" class="text-secondary">FAQ</a></p>
                <p><a href="https://drive.google.com/file/d/1H6oF0kGCKamhh1QixnuBogY4LkqXvefd/view?usp=sharing" target="_blank" class="text-secondary">White paper</a></p>
            </div>
            <div class="col-4 col-sm-3 footer-col-2">
                <p><a href="https://twitter.com/mycryptochamp" target="_blank" class="link-primary">Twitter</a></p>
                <p><a href="https://instagram.com/mycryptochamp" target="_blank" class="link-primary">Instagram</a></p>
                <p><a (click)="emailUsText = email" class="link-primary">{{emailUsText}}</a></p>
            </div>
            <div class="col col-sm-3 footer-col-4 offset-sm-3">
                <a routerLink="/"><img src="../assets/img/logo.png" width="90" height="90" class="img-fluid mb-3" alt="MyCryptoChamp logo"></a>
                <p class="text-secondary"><i>To bring future closer</i></p>
            </div>
        </div>
    </div>
</footer>